*{
    margin:0;
}

body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}
.header{
    height: 400px;
    background-image: url("images/coffee-bgnd.jpeg");
    background-position: center;
}
h1{
    margin: 0;
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3,150,100,0.75);
    text-align: center;
    padding-top: 130px;
}

.main{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.brazil, .kenia, .ethiopia, .columbia, .costa, .india{
    width: 50%;
    height: 275px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4bb97;
    padding: 2px;
}
.kenia{
    position: absolute;
    left: 50%;
    top: 550px;
}
.ethiopia{
    position: absolute;
    left: 50%;
    top: 275px;
}
.columbia{
    position: absolute;
    left: 50%;
    top: 0;
}

.main h2{
    font-weight: 600;
    font-size: 28px;
    background-color: #aa8eb5;
    text-align: center;
    text-transform: uppercase;
}

.main p{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-indent: 32px;
    text-align: justify;
    line-height: 1.5;
}

a:link{
    color: #214e34;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

a:visited{
    color: violet;
}

a:hover{
    color: red;
}

a:active{
    color:yellow;
}